<!DOCTYPE html>
<html lang="en">


<head>
    <title>torofx - Bootstrap 4 Admin Dashboard Template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Admin template that can be used to build dashboards for CRM, CMS, etc." />
    <meta name="author" content="appsImagica" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="/img/favicon.webp">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/vendors.css" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="/css/dash.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <!-- begin app-header -->
            <!-- <%- include('../common/header.ejs') %> -->
            <%- include('../common/header.ejs') %>


         
                <!-- end app-header -->
                <!-- begin app-container -->
                <div class="app-container">

                    <!-- begin app-nabar -->

                    <%- include('../common/sideNavBar.ejs') %>

                        <!-- end app-navbar -->

                        <!-- begin app-main -->
                        <div class="app-main" id="main">
                            <!-- begin container-fluid -->
                            <div class="container-fluid">
                                <!-- begin row -->
                                <div class="row">
                                    <div class="col-md-8 m-b-30">
                                        <!-- begin page title -->
                                        <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                            <div class="page-title mb-2 mb-sm-0">
                                                <h1>Chapter Upload</h1>
                                            </div>
                                            <div class="ml-auto d-flex align-items-center">
                                                <nav>
                                                    <ol class="breadcrumb p-0 m-b-0">
                                                        <li class="breadcrumb-item">
                                                            <a href="/course-page"><i class="ti ti-home"></i> </a>
                                                        </li>
                                                        <li class="breadcrumb-item">
                                                            Program Chapter
                                                        </li>
                                                        <li class="breadcrumb-item active text-primary"
                                                            aria-current="page">Program Chapter Upload</li>
                                                    </ol>
                                                </nav>
                                            </div>
                                        </div>
                                        <!-- end page title -->
                                    </div>
                                </div>
                                <!-- end row -->





                                <div class="container">
                                    <div class="row">
                                      <div class="col-md-8 offset-md-1">
                                        <div class="clas">
                                            <form method="post" href="/course-chapter-upload/<%= data.cid %>" enctype="multipart/form-data" onsubmit="alert('success')">
                                                <div class="form-row">
                                              <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="chapter_name" placeholder="Chapter Name" required>
                                              </div>
                                              <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="program" placeholder="Program" required>
                                              </div>
                                            </div>
                                  
                                            <div class="form-row">
                                              <div class="form-group col-md-6">
                                                <label for="Photo" style="margin-left:120px">Thumbnail</label>
                                                <input type="file" class="exam form-control" name="Photo" id="upload-button">
                                              </div>
                                              <div class="form-group col-md-6">
                                                <label for="video" style="margin-left:120px">Video (in mp4)</label>
                                                <input type="file" class="exam form-control" name="video">
                                              </div>
                                            </div>
                                  
                                            <div class="form-group">
                                              <input type="text" class="form-control" name="duration" placeholder="Enter the duration of the course">
                                            </div>
                                  
                                            <button id="submit"  type="submit" class="btn btn-primary">Submit</button>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  


                            </div>

                        </div>
                        <!-- end container-fluid -->
                </div>
                <!-- end app-main -->
        </div>
        <!-- end app-container -->
        <!-- begin footer -->
        <%- include('../common/footer.ejs') %>

            <!-- end footer -->
    </div>
    <!-- end app-wrap -->
    </div>
    <!-- end app -->

    <!-- plugins -->
    <script src="/js/vendors.js"></script>

    <!-- custom app -->
    <script src="/js/app.js"></script>
    <script src="/js/javas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>


</html>