<!DOCTYPE html>
<html lang="en">


<head>
    <title>TOROFX - Bootstrap 4 Admin Dashboard Template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Admin template that can be used to build dashboards for CRM, CMS, etc." />
    <meta name="author" content="Potenza Global Solutions" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="img/favicon.webp">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/vendors.css" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <!-- begin app-header -->
            <%- include('../common/header.ejs') %>

                <!-- end app-header -->
                <!-- begin app-container -->
                <div class="app-container">
                    <!-- begin app-nabar -->
                    <%- include('../common/sideNavBar.ejs') %>

                        <!-- end app-navbar -->
                        <!-- begin app-main -->
                        <div class="app-main" id="main">
                            <!-- begin container-fluid -->
                            <div class="container-fluid">
                              <!-- start Library -->
                              <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                  <div class="page-title mb-2 mb-sm-0">
                                      <h1>Library</h1>
                                  </div>
                                  <div class="ml-auto d-flex align-items-center">
                                      <nav>
                                          <ol class="breadcrumb p-0 m-b-0">
                                              <li class="breadcrumb-item">
                                                  <a href="index">
                                                      <i class="ti ti-home"></i>
                                                  </a>
                                              </li>
                                              <li aria-current="page" class="breadcrumb-item active text-primary">
                                                  Programs List
                                              </li>
                                              <a href="/library-upload" type="btn-success"
                                                  style="background-color: white; border-radius: 10px; margin-top: 50px; padding: 20px; position: sticky;">+
                                                  Add Videos</a>
                                          </ol>
                                      </nav>
                                  </div>
                              </div>
                              <div class="col-lg-12 mt-5">
                                  <% if (data.length > 0) { %>
                                  <div class="table-responsive">
                                      <table class="table table-dark table-striped">
                                          <thead>
                                              <tr>
                                                  <th style="color:white">#</th>
                                                  <th style="color:white">Video Name</th>
                                                  <th style="color:white">Category</th>
                                                  <th style="color:white">Preview</th>
                                                  <th style="color:white">Thumbnail</th>
                                                  <th style="color:white">Action</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <% for (var i = 0; i < data.length; i++) { %>
                                              <tr>
                                                  <td><%= i + 1 %></td>
                                                  <td><%= data[i].file_name %></td>
                                                  <td><%= data[i].category %></td>
                                                  <td>
                                                      <video id="videoPlayer" width="100%" controls preload="auto">
                                                          <source src="videos/<%= data[i].video %>" type="video/mp4">
                                                      </video>
                                                  </td>
                                                  <td>
                                                      <img style="max-height: 100px; max-width: 100px;" src="photos/<%= data[i].Photo %>"
                                                          alt="Thumbnail">
                                                  </td>
                                                  <td>
                                                    <a href="/library-edit"><i class="nav-icon ti ti-pencil-alt"></i></a>
                                                      <!-- <a href="/library-edit/<%= data[i]._id %>"><i class="nav-icon ti ti-pencil-alt"></i></a> -->
                                                      <a href="/delete/V2/<%= data[i]._id %>"><i class="nav-icon ti ti-trash"></i></a>
                                                  </td>
                                              </tr>
                                              <% } %>
                                          </tbody>
                                      </table>
                                  </div>
                                  <% } else { %>
                                  <p>No record Found</p>
                                  <% } %>
                              </div>
                              <!-- end page title -->
                          </div>
                          
                        </div>
                        <!-- end row -->






                        <!-- end app-container -->
                        <!-- begin footer -->
                        <%- include('../common/footer.ejs') %>

                            <!-- end footer -->
                </div>
                <!-- end app-wrap -->
        </div>
        <!-- end app -->

        <!-- plugins -->
        <script src="js/vendors.js"></script>

        <!-- custom app -->
        <script src="js/app.js"></script>
        
</body>


</html>